<h3 class="pt-3"> Listado de herores</h3>


<ul class="mt-2 list-group">
  <li class="list-group-item">Spiderman</li>
  <li class="list-group-item">Ironman</li>
  <li
    *ngFor="let name of heroNames"
    class="list-group-item">
    {{ name }}
  </li>
</ul>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Heroe borrado <small class="text-danger">{{ deletedHero }}</small></h3>
</div>

<ng-template #nothingWasDeleted> <!--es como un div pero que no afecta la estructura html-->
  <h3 *ngIf="!deletedHero">No ha borrado nada</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  borrar ultimo heroe
</button>
